services:  
  joke: 
    image : oldgitdocker/joke
    pull_policy: always 
    build: 
      context: .
    env_file:
    - .env 
    container_name: joke
    restart: unless-stopped
    ports:
    - ${JOKE_HTTP_CONTAINER_PORT}:${JOKE_HTTP_PORT}
    - ${JOKE_HTTPS_CONTAINER_PORT}:${JOKE_HTTPS_PORT}
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - /home/tony/certs:/usr/app/certs # Mount certificates

  db:  
    image: mysql
    container_name: mysql
    restart: unless-stopped
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "mysql -u$MYSQL_USER -p$MYSQL_PASSWORD -e 'SELECT 1'"] 
      interval: 5s
      timeout: 1s
      retries: 10
    volumes:
      - db:/var/lib/mysql
      - ./:/docker-entrypoint-initdb.d # if load fails, clear volume: docker compose down -v. Mysql scans entrypoint dir for any .sql
    ports:
      - ${MYSQL_CONTAINER_PORT}:${MYSQL_PORT}   
    
volumes:
  db:
    name: db
