services:  
  joke: 
    image: oldgithubber/jokes 
    build: 
      context: .
    pull_policy: always # Whilst testing, pull to make sure cache isn't used
    container_name: jokes
    
    env_file:
    - .env

    environment:
    - TN_JOKE_IP=${TN_JOKE_IP}  # Do not leave space either side of = or you will spend hours wondering why
                                # TN_JOKE_IP is set by terraform so must be using cloud. If not set, the app
                                # will assume localhost as it must be in vscode or local container
    ports:
    - ${TN_JOKE_CONT_PORT}:${TN_JOKE_APP_PORT} 
